@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --gradient-background: linear-gradient(to bottom, var(--background), #2d0734); /* black to purple-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --gradient-background: linear-gradient(to bottom, var(--background), #6b21a8); /* dark mode gradient (dark gray to purple-800) */
  }
}

body {
  /* Apply the gradient to the entire body */
  background: var(--background);
  padding: 1rem;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
